{
    "fields": {
       "project":
       {
          "key": "{{ project_key }}"
       },
       "summary": "{{ card_name }}",
       "description": "{{ card_description }}",
       "issuetype": {
          "name": "Story"
       }
   }
}
